.email_form{
  position:absolute;
  width: 20em;
  height: 30em;
  left:37em;
  top:15em;
}
.email_rejected{
  position:absolute;
  width: 23em;
  background-color: antiquewhite;
  height: 35em;
  left:37em;
  top:15em;
}
.footer_custom{

  position: absolute;
  background-color: rgb(75, 170, 187);
  width: 100%;
  height:7%;
  top: 95%;
}
#footer_text{
  position: absolute;
  left: 39%;
  top: 25%;
}